workflows/http/receive-http-request.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3f93ea33-cc2e-41b5-a42d-c8bd7ae024cc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        256
      ],
      "id": "07961ac9-e604-42c2-a72f-2fc26f67f15a",
      "name": "Webhook",
      "webhookId": "3f93ea33-cc2e-41b5-a42d-c8bd7ae024cc"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        256
      ],
      "id": "7bcd14ce-5259-4d93-973c-09a58afbd61b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "bfe35488-f548-4688-8842-73636ebf5607"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "344cac54-4cde-4706-a4f5-d6ef055a9fec",
                    "leftValue": "={{ $json.first_name }}",
                    "rightValue": "Let",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        256
      ],
      "id": "1232d93e-7dd6-4127-a69c-3e474c5e433d",
      "name": "Switch"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c1c8469986f58ebd924f14ba9d906e06945522498f80983b80a6b52d2f49689f"
  }
}